:root{
    --primary-color:#0F212E;
    --secondary-color:#004F68;
}

html {
    scroll-behavior: smooth;
}
 
:target {
    scroll-margin-top: 10em;
}

main .right::-webkit-scrollbar {
    width: 1px;               /* width of the entire scrollbar */
}
main .right::-webkit-scrollbar-track {
    background-color: white;    /* color of the scroll thumb */
}
main .right::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);        /* color of the tracking area */
    border-radius: 10px;       /* roundness of the scroll thumb */
}

body{
    user-select: none;
    background-color: rgb(248, 248, 248);
}

button,input{
    all:unset;
    border: 1px solid rgb(150, 150, 150);
    background: rgb(255, 255, 255);
}
button{
    text-align: center;
}
button:focus,input:focus{
    border: 1px solid rgb(102, 101, 101);
}

nav{
    width: 100%;
    display: flex;
    height: 13vh;
    background-color: var(--primary-color);
    color: white;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;

}

nav .circles{
    display: flex;
    margin-left: 1em;
    justify-content: center;
    gap: .5em;
}

nav .circle{
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bolder;
    font-size: larger;
}

nav .circle:nth-child(2n){
    color: white;
    animation: rotaten 4s infinite 5s alternate ease-in-out;
}
nav .circle:nth-child(2n + 1){
    color: white;
    animation: rotate2n 4s infinite 5s alternate ease-in-out;
}

nav .circle:nth-child(1){
    background-color: brown;
}
nav .circle:nth-child(2){
    background-color: green;
}
nav .circle:nth-child(3){
    background-color: rgb(0, 102, 255);
}
nav .circle:nth-child(4){
    background-color: #270034;
}
nav .circle:nth-child(5){
    background-color: #AF0093;
}


@keyframes rotaten {
    from{
        transform: rotate(360deg);
        
    }
    to{
        transform: rotate(0deg);
        background-color: rgb(255, 255, 255);
        color: black;        
    }
}

@keyframes rotate2n {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
        color: black;
        background-color: #ffffff;
    }
}

nav .header{
    text-align: center;
}

nav .links{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    color: rgb(207, 207, 207);
}

.links div:hover{
    color: white;
}

/* -------common------ */

main{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 87vh;
}

main .left{
    background-color: var(--primary-color);
    color: white;
    display: grid;
    grid-template-rows: 60% 25% 15%;
    text-align: center;
    text-transform: capitalize;
    border-right: .4em solid white;
}

.left .message{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left .message .last{
    width: 25%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    border: 1px solid white;
}

.left .generator{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .generator .main-circle{
    width:44vh;
    height:44vh;
    border: .6em solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left .generator .main-circle .circle{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    border: .6em solid #1B60B0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
}

.buttons .start{
    background-color: #1B60B0;
    color:white;
}

#currentValue {
   font-size: calc(16px + 1vw);
}

.circleIt{
    animation: bit 1s infinite alternate;
}



@keyframes bit {
    from{
        border: .6em solid #ffffff;
    }
    to{
        border: 2em solid #1B60B0;
    }
}

.left button{
    color:black;
    width: 100px;
    padding: .2em;
    border-radius: .3em;
}


main .right{
    overflow-y: scroll;
    /* padding: 1em; */
}

main .bingo{
    width: 70%;
    height: 80px;
    display: flex;
    position: fixed;
    right: 3px;
    z-index: 1;
    gap: .1em;
    background-color: white;
    justify-content: space-evenly;
    border-top: .4em solid white;
    padding-bottom: .4em;

}

.bingo .b,.i,.n,.g,.o{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-transform: capitalize;
    color: white;
    font-weight: bolder;
}

.bingo .b{
    background: brown;
}
.bingo .i{
    background: rgb(28, 185, 28);
}
.bingo .n{
    background: rgb(203, 243, 26);
    color: black;
}
.bingo .g{
    background: #270034;
}

.bingo .o{
    background: #AF0093;
}

main .result{
    margin-top: 5em;
    display: grid;
    grid-template-rows: auto;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: .6em;


}

main .result .row{
    display: flex;
    /* gap: .1em; */

}
main .row .col{
    background-color: #c6cdcf;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(16px + 1vw);
    font-weight: bold;
    border: 2px solid white;
    text-transform: capitalize;
    color: white;
}

.checked{
    background-color: #1B60B0 !important;
    animation: borderChange 700ms 3  ease-in-out;
}

@keyframes borderChange {
   
    to{
        border: 3px solid #1B60B0; 
    }
   
  
}



.background-block,.audio-block{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: .8;
    z-index: 2;
}

.bet-here{
    position: fixed;
    border-radius: .3em;
    top: 20%;
    left: 34%;
    width: 40%;
    height: 60vh;
    background-color: white;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    z-index: 5;

}

.bet-here .top,.logout-div .top,.see-profile .top{
    width: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    background: var(--primary-color);
    color:white;
    justify-content: center;
    place-items: center;
    border-radius: .2em .2em 0 0;

}


.bet-here form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    padding-top: 3em;
    
}
.bet-here form input,.bet-here form label{
    width: 40%;
}

.bet-here form input{
    margin-bottom: 1em;
}


.bet-here button{
    background-color: var(--primary-color);
    color: white;
    width:40%;
    padding: .2em;
    border-radius: .3em;
}

.bet-here .message,.logout-div .logout-message, .logout-div button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-div{
    position: fixed;
    border-radius: .3em;
    top: 20%;
    left: 34%;
    width: 30%;
    height: 40vh;
    background-color: white;
    display: none;
    grid-template-rows: 20% 65% 15%;
    z-index: 4;

}

.logout-div button{
    width: 30%;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: .3em;
    border-radius: .3em;
    background-color: brown;
    color: white;
    
}

.see-profile{
    position: fixed;
    border-radius: .3em;
    top: 20%;
    left: 34%;
    width: 30%;
    height: 40vh;
    background-color: white;
    display: none;
    grid-template-rows: 20% 85%; 
    z-index: 4;
}

.audio-load{
    position: fixed;
    border-radius: .3em;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6em;
    z-index: 4;
}

.audio-load p{
    color: white;
}
.audio-load label{
    font-size: 30px; 
    font-weight: bolder;
    color:white;
}

progress {
    border-radius: 7px; 
    width: 60%;
    height: 22px;
    margin-left: -11.5%;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
  }
  progress::-webkit-progress-bar {
    background-color: rgb(109, 109, 109);
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: blue;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px rgba(255, 255, 255, 0.8);
  }
  

.see-profile .message{
    display: flex;
    flex-direction: column;
    margin-left: 6em;
    margin-top: 2em;
    gap: 1em;
    
}


#waiting-gif{
    position: absolute;
    left: 40%;
    top:20%;
    z-index: 3;
    display: none;
}

.see-profile .message strong,.see-profile .message span{
    width: 100%;
}

i{
    cursor: pointer;
}

.information{
    position: absolute;
    right: 0;
    top: 10%;
    z-index: 11;
    width: 400px;
    padding: 1em;
    display: none;
    transform: translateX(-100%);
    animation: slideIn 500ms ease-in forwards;   
}

@keyframes slideIn {
      from {
        transform: translateY(-100%);
      }
      to {
        transform: translateY(0);
      }
}