:root{
    --primary-color:#0F212E;
    --secondary-color:#004F68;
}

body{
    user-select: none;
    background-color: rgb(248, 248, 248);
}

button,input{
    all:unset;
    border: 1px solid rgb(150, 150, 150);
    background: rgb(255, 255, 255);
}
button{
    text-align: center;
}
button:focus,input:focus{
    border: 1px solid rgb(102, 101, 101);
}

nav{
    width: 100%;
    display: flex;
    height: 13vh;
    background-color: var(--primary-color);
    color: white;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    align-items: center;
}

nav .circles{
    display: flex;
    margin-left: 1em;
    justify-content: center;
    gap: .5em;
}

nav .circle{
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bolder;
    font-size: larger;
}
nav .circle:nth-child(2n){
    transform: rotate(30deg);
}
nav .circle:nth-child(2n + 1){
    transform: rotate(-30deg);
}

/* nav .header{
    
} */

nav .links{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    color: rgb(207, 207, 207);

}

.links .profile:hover,.links .logout:hover{
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    width: 100%;
}

main .box{
    background-color: rgb(216, 212, 212);
    height: 70vh;
    width: 60%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    border-radius: .5em;
    box-shadow: .3em .3em 1em .3em rgb(138, 138, 138);
}

main .box .head{
    text-align: center;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main form input, main form label{
    width: 30%;
    padding: 3px;
    border-radius: .4em;
}

main .contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

main .contacts i{
    font-size: x-large;
    cursor: pointer;
}
main .contacts i:hover{
    color: var(--primary-color);
}


main .box button{
    width: 30%;
    border-radius: .2em;
    padding: .1em;
    background: var(--primary-color);
    color: white;
}

main .box button:hover{
    background: #024f66;
}

