<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo Welcome</title>
    <!-- font awsome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- mycss -->
    <link rel="stylesheet" href="../css/dealer.css">
</head> 
<body>
    <script>
        const BALANCE = "<%- balance%>"
    </script>


    <nav>
        <div class="circles">
            <div class="circle">B</div>
            <div class="circle">I</div>
            <div class="circle">N</div>
            <div class="circle">G</div>
            <div class="circle">O</div>
        </div>
        <h2 class="header">
            Dealer <%= username%> <small>##</small>
        </h2>
        <div class="links">
            <div class="profile" onclick="showProfile(true)">Profile</div>
            <div class="" onclick="location.href = '/dealer/profile'">hisotry</div>
            <div class="" onclick="fullScreen(this)">Full screen</div>
            <div class="logout" onclick="showLogout(true)">Logout</div>
        </div>
    </nav>
    <main>

        <div class="left">
            <div class="generator">
                <div class="main-circle">
                    <div class="circle" id="currentValue">
                        ...
                    </div>
                </div>
                
            </div>
            <div class="message">
                <div class="last last3">.</div>
                <div class="last last2">.</div>
                <div class="last last1">.</div>
            </div>
            <div class="buttons">
                <button class="start" onclick="start()">start</button>
            </div>
        </div>
        <!-- right  -->

        <div class="right">
            
                <div class="bingo">
                    <div class="b">b</div>
                    <div class="i">i</div>
                    <div class="n">n</div>
                    <div class="g">g</div>
                    <div class="o">o</div>
                </div>

                <div class="result">

                   
                    
                    <!-- <div class="row ">
                        <div class="col b-box checked">. . . .</div>
                        <div class="col i-box">. . . .</div>
                        <div class="col n-box">. . . .</div>
                        <div class="col g-box">. . . .</div>
                        <div class="col o-box">. . . .</div>
                    </div> -->
    
    
                </div>
            
        </div>

    </main>

    <div class="background-block"></div>
    <div class="audio-block"></div>
    <img src="../img/Blocks-1s-200px.gif" id="waiting-gif" alt="">
    
    <div class="bet-here">
        <div class="top">
            <h2 class="top-topic">Bet Here</h2>
        </div>
        <form>
            <label for="" class="num_players_label">number of players</label>
            <input type="number" min="2" id="num_players" placeholder="number of players">

            <label for=""  class="amount_label">bet amount</label>
            <input type="number" min="10" step="10" id="amount" placeholder="Bet Amount">

            <button onclick="placeBet(this)">bet</button>
            <br><br>
        </form>
        <div class="message" id="bet-message">
            your balance is <%= balance%>  birr
            <br> <div class="pl-3 text-danger pointer-event" onclick="showLogout()">logout</div> 
        </div>
        
    </div>

    <div class="logout-div">
        <div class="top">
            <h4 class="top-topic">Log out</h4>
            <i onclick="showLogout(false)" class="bi bi-x fa-2x"></i>
        </div>

        <div class="logout-message">Are you sure ?</div>
        <button class="button" onclick="logout()">logout</button>
    </div> 

    <div class="see-profile">
        <div class="top">
            <h4 class="top-topic">Profile</h4>
            <i onclick="showProfile(false)" class="bi bi-x fa-2x"></i>
        </div>

        <div class="message" id="profileFile">
        </div>
    </div> 
    <div class="audio-load">
        <label for="file">Loading audios...</label>
        <progress id="progress" value="0" min="0" max="400"> 32% </progress>
        <p>please <a href="/">refresh</a>  if the progress is slow</p>
    </div>

</body>
</html>
<script src="../js/deller.js"></script>
